In [28]:
import pandas as pd
df = pd.read_csv("salaries_by_college_major.csv")
clean_df = df.dropna()
# print(clean_df["Mid-Career Median Salary"].max())
# print(clean_df["Mid-Career Median Salary"].idxmax())
# clean_df["Undergraduate Major"].loc[8]
# print(clean_df["Starting Median Salary"].min())
# print(clean_df["Starting Median Salary"].idxmin())
# print(clean_df["Starting Median Salary"].min())
# clean_df.loc[clean_df['Mid-Career Median Salary'].idxmin()]
spread_col = clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']
clean_df.insert(1, 'Spread', spread_col) # 1- add new colon to 1st place (starts from 0), 'Spread' - column name, new df column
# clean_df.head() # show table columns 

# low_risk = clean_df.sort_values('Spread')
# low_risk[['Undergraduate Major', 'Spread']].head()

# top_5 = clean_df.sort_values("Mid-Career 90th Percentile Salary",ascending=False)[['Undergraduate Major', 'Mid-Career 90th Percentile Salary']].head()
# print(f"Top 5 degrees with the highest values in the 90th percentile: {top_5} ")

#"Degrees with the greatest spread in salaries: {} "

# most_spread = clean_df.sort_values("Spread", ascending=False)
# most_spread[['Undergraduate Major', 'Spread']].head()

# We have three categories in the 'Group' column: STEM, HASS and Business. Let's count how many majors we have in each category:
#clean_df.groupby('Group').count()

# Now can you use the .mean() method to find the average salary by group? 
clean_df.groupby('Group').mean()

,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,
Business,103958.333333,44633.333333,75083.333333,43566.666667,147525.000000
HASS,95218.181818,37186.363636,62968.181818,34145.454545,129363.636364
STEM,101600.000000,53862.500000,90812.500000,56025.000000,157625.000000